extends layout 

block content
    p#uuid(hidden) #{data.uuid}
    h1#title=title
        img(src="/ikonyMimoBrand/edit.svg",height="20", width="20",alt="", style="cursor:pointer",onclick="editName()")

    if data
    .container
        .column
        .column
            .savedGames
                img(src="/brand/TdA_Logo/PNG/TdA_LOGO_bily.png", width="60", height="60")
                h2 Informace o hře:
                b Vytvořena dne: #{formatDate(data.createdAt)}
                br
                b Poslední aktualizace:
                    if !data.updatedAt
                       | #{formatDate(data.createdAt)}
                    else
                        | #{formatDate(data.updatedAt)}
                br
                b Obtížnost
                if data.difficulty == "beginner"
                    img(src="/brand/TdA_Ikonky/PNG/Beginner/zarivka_beginner_bile.png",data-diffyyyyy="beginner", alt="", width="40", height="40", id="diffi")
                else if data.difficulty == "easy"
                    img(src="/brand/TdA_Ikonky/PNG/Easy/zarivka_easy_bile.png", alt="", width="40", height="40", data-diffyyyyy="easy", id="diffi")
                else if data.difficulty == "medium"
                    img(src="/brand/TdA_Ikonky/PNG/Medium/zarivka_medium_bile.png", alt="", width="40", height="40",data-diffyyyyy="medium",id="diffi")
                else if data.difficulty == "hard"
                    img(src="/brand/TdA_Ikonky/PNG/Hard/zarivka_hard_bile.png", alt="", width="40", height="40",data-diffyyyyy="hard", id="diffi")
                else if data.difficulty == "extreme"
                    img(src="/brand/TdA_Ikonky/PNG/Extreme/zarivka_extreme_bile.png", alt="", width="40", height="40", data-diffyyyyy="extreme", id="diffi")
                img(src="/ikonyMimoBrand/edit.svg",height="20", width="20",alt="", style="cursor:pointer",onclick="editDiff()")
                br
                b Stav hry: 
                    if data.gameState == "opening"
                        | Začátek
                    else if data.gameState == "midgame"
                        | Probíhá
                    else if data.gameState == "endgame"
                        | Koncovka
                    else
                        | neznámý stav
                br
                button(type="button",style='cursor:pointer', onclick=`deleteGame('${data.uuid}')`) Smazat hru  
        .column
    .game_container
        .column
            img(src="/brand/TdA_Ikonky/PNG/X/X_cervene.png", alt="", width="60", height="60")
            p(id="playerX") #{player1}
                
        .column
            h2 Herní plocha
            .game_board#gameBoard
                each record in board
                    .row
                        each cell in record
                            if cell == "X"
                                .cell(value="X")
                                    img(src="/brand/TdA_Ikonky/PNG/X/X_cervene.png", alt="X", width="10", height="10")
                            else if cell == "O"
                                .cell(value="O")
                                    img(src="/brand/TdA_Ikonky/PNG/O/O_modre.png", alt="O", width="10", height="10")
                            else
                                .cell= cell
            a.odkazy(href="#", onclick="saveGame()") Uložit hru 
        .column 
            img(src="/brand/TdA_Ikonky/PNG/O/O_modre.png", alt="", width="60", height="60")
            p(id="playerO") #{player2}
                
    script(src="/gameControler.js")
    
