extends layout 

block content
    h1=title

    if data
    .container
        .column
        .column
            .game
                h2 Informace o hře:
                b Vytvořena dne: #{formatDate(data.created_at)}
                br
                b Poslední aktualizace:
                    if !data.updated_at
                       | #{formatDate(data.created_at)}
                    else
                        | #{formatDate(data.updated_at)}
                br
                b Obtížnost
                if data.difficulty == "begginer"
                    img(src="/brand/TdA_Ikonky/PNG/Beginner/zarivka_beginner_bile.png", alt="", width="40", height="40")
                else if data.difficulty == "easy"
                    img(src="/brand/TdA_Ikonky/PNG/Easy/zarivka_easy_bile.png", alt="", width="40", height="40")
                else if data.difficulty == "medium"
                    img(src="/brand/TdA_Ikonky/PNG/Medium/zarivka_medium_bile.png", alt="", width="40", height="40")
                else if data.difficulty == "hard"
                    img(src="/brand/TdA_Ikonky/PNG/Hard/zarivka_hard_bile.png", alt="", width="40", height="40")
                else if data.difficulty == "extreme"
                    img(src="/brand/TdA_Ikonky/PNG/Extreme/zarivka_extreme_bile.png", alt="", width="40", height="40")
                br
                b Stav hry: 
                    if data.game_state == "opening"
                        | Začátek
                    else if data.game_state == "midgame"
                        | Probíhá
                    else if data.game_state == "endgame"
                        | Hra skončila
                    else
                        | neznámý stav
                .twoContainer
                    .column
                        a.odkazy(href="#", onclick="editGame()") Upravit informace
                    .column
                        button(type="button",style='cursor:pointer', onclick=`deleteGame('${data.uuid}'); window.location.href = '/games';`) Smazat hru  
        .column
    .game_container
        .column
            p Hráč
                img(src="/brand/TdA_Ikonky/PNG/Duck/duck.png", alt="", width="60", height="60")
        .column
            h2 Herní plocha
            .game_board#gameBoard
                each record in board
                    .row
                        each cell in record
                            if cell == "X"
                                .cell
                                    img(src="/brand/TdA_Ikonky/PNG/X/X_cervene.png", alt="", width="10", height="10")
                            else if cell == "O"
                                .cell
                                    img(src="/brand/TdA_Ikonky/PNG/O/O_modre.png", alt="", width="10", height="10")
                            else
                                .cell= cell
            a.odkazy(href="#", onclick="saveGame()") Uložit hru 
        .column 
            p Táda
                img(src="/brand/TdA_Ikonky/PNG/Idea/zarivka_idea_bile.png", alt="", width="60", height="60")
    script(src="/gameControler.js")
        